#top {
    display: flex;
    justify-content: center;
}

#middle {
    display: flex;
    -webkit-flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 0px;
    box-shadow: inset 0 8px 8px -8px #696868,
    inset 0 -8px 8px -8px #696868;
    margin-top: 5px;
}

#mid_top {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
}
#mid_bottom {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom {
    display: flex;
    justify-content: center;
}

#file_info {
    margin: 0;
    padding: 0;
}

#title {
    /*font-family: 'Abel', sans-serif;*/
    font-family: 'Lobster', cursive;
    /*font-family: 'Bungee Hairline', cursive;*/
    /*font-family: 'Quicksand', sans-serif;*/
    font-size: 112px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.time_picker {
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
    background: #fff;
    border: 1px solid #aac;
    width: 80px;
    height: 16px;
    margin-right: 2px;
    margin-left: 2px;
}

.ui-timepicker-wrapper {
    overflow-y: auto;
    height: 150px;
    width: 6.5em;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    outline: none;
    z-index: 10001;
    margin: 0;
}

.ui-timepicker-list li {
    padding: 3px 0 3px 5px;
    cursor: pointer;
    white-space: nowrap;
    color: #000;
    list-style: none;
    margin: 0;
}

.ui-timepicker-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#title_box {
    display: flex;
    justify-content: center;
}

.file_obj {
    font-family: 'Quicksand', sans-serif;
    border-radius: 25px;
    border: 2px solid #696868;
    padding: 20px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    -webkit-flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
    margin: 0;
}
form {
    font-family: 'Quicksand', sans-serif;
}

/*
font-family: 'Abel', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Quicksand', sans-serif;
*/